@import url('../css/fonts.css');
html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /* theme color  */
    --text-gray: #738599;
    --text-light: #686666da;
    --bg-color: #ffffff;
    --midnight: #104f55;
    /* gradient color  */
    --sky: linear-gradient(120deg, #a1c4fd0%, #c2e9fb 100%);
    /* theme font-family  */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --josefin: 'josefin', cursive;
    --Lexend: 'Lexend';
    --Livvic: 'Livvic', cursive;
}


/* .............global classes............ */

a {
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2 {
    font-family: var(--Lexend);
}

h3 {
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span {
    font-family: var(--Abel);
}

.container {
    margin: 0 5vw;
}

.text-gray {
    color: var(--text-gray);
}

p {
    font-family: var(--Lexend);
    color: var(--text-light);
}


/* --------x-----------global classes-----------x--------- */

h1 {
    text-align: center;
}

.nav {
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse {
    height: 30rem;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover {
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a {
    color: white;
}

.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .social {
    padding: 1.4rem 0
}

.nav .social i {
    padding: 0.2rem;
}

.nav .social i:hover {
    color: #a1c4cf;
}


/* ------------navbar --------------*/

main .site-title {
    /* background: url('../assets/school-logo.png'); */
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}


/* -------------------form ------------- */

.container {
    background: url(../assets/form2.jpg) no-repeat center center fixed;
}

* {
    box-sizing: border-box
}


/* Add padding to containers */

.container {
    padding: 16px;
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Overwrite default styles of hr */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Set a style for the submit/register button */

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.comment {
    width: 40%;
    height: 100px;
    padding: 10px;
    background-color: #d0e2bc;
}

.registerbtn:hover {
    opacity: 1;
}


/* Add a blue text color to links */

a {
    color: dodgerblue;
}


/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}


/* ---------x----------form --------x----- */